:root {
    --bg-color: #f6f1ec;
    --text-color: #333;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: var(--text-color);
  transition: 0.3s;

}
section {
  width: 100%;
  margin: auto;
  padding: 60px 0px;
}
.dark {
     background-color:var(--text-color);
     color: var(--bg-color);
}
/* background-image */

/* الخلفية */
.bg-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* خلف المحتوى */
}
.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e32026;
  position: fixed;
  top: 0;
    left: 50%;
    transform: translateX(-50%);
  z-index: 1000;
  margin: auto;
  background-color: var(--bg-color);
  border-bottom-left-radius:5px ;
  border-bottom-right-radius:5px ;
  padding: 5px 15px;
}
.header button{
  background-color: #e32026;
  color: var(--bg-color);
}

.header button:hover{
  background-color: var(--bg-color);
  color: #e32026;
}
.pdfBtn{

}
/* المحتوى */
.content {
  z-index: 1;
  position: relative;
  padding: 100px 20px;
  color: white;
}
.home{
  width: 100%;
  margin-top: 0;
  padding: 60px 0px;
  color: #fff;
  text-align: center;
}
.home .logo{

}
.home .logo img{
  width:40%
}
.home .logo p{
  color: #232a61;
}
@media (max-width: 620px) {
 .home .logo img{
  width:100%;
  margin: auto;
  padding: 40px;
}
.header button span{
  display: none;
}
}
.home-story{
 margin: auto;
 padding: 10px 40px;
}
.home-story p{
  color:#232a61;
  padding: 10px;
  text-align: start;
  border-radius: 5px;
  line-height: 30px;
}
.home-story img{
  width: 100%;
  height: 390px;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 2px white;
}
@media (max-width: 576px) {
.home-story{
 padding:10px 0px;
}
.home-story p{
  text-align: center;
}
.home-story img {
width: 80%;
 height: auto;
}
.home-story p{
  line-height: 24px;
}
}
header h1 {
  font-size: 64px;
  margin: 0;
  font-family: 'Pacifico', cursive;
}
header p {
  font-size: 22px;
  width: 100%;
  margin-top: 10px;
}
.story {

  margin: auto;
  text-align: center;

}
.title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #e32026;
}

.category {
  margin-bottom: 150px;

}
.category h3 {
  position: relative;
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #232a61;
  margin-bottom: 80px;
}

.line{
  height: 1px;
  width: 150px;
  
  background-color: #e32026;
  position: absolute;
  bottom:-10px;
  left: 50%;
  transform: translateX(-50%);

}
/* filters */
.filters button{
  background-color: #232a61;
  border: none;
  color: var(--bg-color);
  padding: 10px 0;
  margin-top: 10px;
  width: 200px;
  border-radius: 2px;
}
.filters button:hover{
  background-color: var(--bg-color);
  border: none;
  color: #232a61;
  padding: 10px 0;
  width: 200px;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px #232a61;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.card {
  background: transparent !important;
  border-radius: 10px !important;

  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
  font-family: 'Playfair Display', serif !important;
  font-weight: 100 !important;
}
.card:hover {
  transform: translateY(-6px);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  padding: 10px;
}
.card h4 {
  margin: 15px 0 10px;
  font-size: 20px;
}
.card p {
  font-size: 14px;

}
.card-info{
  background-color: white   !important;
  border-radius: 10px;
  color: #e32026;
}
@media (max-width: 576px) {
 .card img {
  
  height: auto;
 
}
 
}
 @media (max-width:420px) {
  .card {
      padding: 5px;
   }
 }
footer {
  text-align: center;
  padding: 30px;
  font-size: 14px;
}

/* new  */
    .category.section {
        transition: all 1s ease;
    }
    /* قسم واحد يظهر في نفس المكان */
    .category.section.absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

.category.section {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.category.section.fade-out {
    opacity: 0;
    transform: translateY(-20px); /* يتحرك لأعلى أثناء الاختفاء */
}

.category.section.fade-in {
    opacity: 0;
    transform: translateY(20px); /* يبدأ من الأسفل */
    animation: fadeInAnim 0.5s forwards;
}

@keyframes fadeInAnim {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact us */
.contact-section {
  width: 100%;
 
}
.socail{
  text-align: center;
 
}
.socail-card{
 margin: auto;
 border-radius: 10px;
}
.socail-card img{
  width: 30px ;
  height:30px;
  margin-right: 10px;
}
.socail-email .email1 {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--bg-color);
}
.fac,.ins{
  padding-top: 10px;
}
.socail-card a{
  display: flex;
  font-size: 16px !important;
  padding: 0 20px 0 0 ;
  text-decoration: none;
}
@media (max-width:656px){
.socail-card{
  width: 100% !important;
}
}

/*  */
@media (max-width:575px){
.socail-card a{
  font-size: 20px !important;
  width: 90%;
  margin: 10px;
  text-align: start;
}
}

/* map */
.map-section {
    width: 100%;
    height: 400px;

}
.map-section iframe {
    width: 100%;
    height: 100%;
    border: 0;
        border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
/* Overlay */
.map-overlay {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
 
}

@media (max-width:656px){
.map-section{
  margin-top: 20px;
}
.map-section iframe {
    height: 80%;
}
}
.map-text {
  display: flex;
  align-items: center;
  
  width: 200px;
    background-color:#e32026;
    padding: 5px 10px;
    border-radius: 5px;
}
.map-text i {
  padding-right: 10px;
}
.map-text h3 {

}

.map-text p {
    margin: 0;
    font-size: 14px;
}